@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Quicksand:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.FlexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    background-color: #CAF0F8;
    height:auto;
    overflow: auto;
    flex-direction: column;
}

.FlexContainer div {
    margin-top: 20px;
    margin-left: 2em;
    margin-right: 2em;
    background-color: #90E0EF;
    display: inline-block;
    align-content: center;
    text-align: justify;
    font-size: large;
    padding: 1em;
    border-radius: 1em;
}

#main {
    background-color: #CAF0F8;
}

.astrotitle{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    text-decoration-line: underline;
}

#astrosubtitle{
    font-weight: bold;
    font-size:larger;
}

#list{
    text-align: center;
}

.solarsystem-img{
    height: auto;
    width: auto;
    margin: auto;
    display: block;
}

#system{
    height: 60%;
    width: 60%;
}