@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Quicksand:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow: hidden;
  font-family: 'Quicksand', sans-serif;
}

/* index.html */
#index {
  background-image: url(../imgs/wallpaper.png);
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: grid;
  align-content: flex-start;
  place-items: center;
}

#logo-container {
  display: grid;
  align-content: center;
  place-items: center;
  margin-top: 1em;
}
#title {
  color: white;
  font-size: 3rem;
  user-select: none;
  font-family: 'Indie Flower', cursive;
}
#logo {
  width: 5rem;
  background-color: white;
  border-radius: 50%;
  text-align: center;
}
#bienvenida {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#bienvenida-texto p {
  display: grid;
  text-align: center;
  place-items: center;
  align-content: center;
  margin: 1em;
  padding: 1em;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  user-select: none;
}
#index-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.index-btn {
  border: none;
  background-color: #03045E;
  color: white;
  font-weight: bold;
  padding: 0.8em;
  font-size: 2rem;
  border-radius: 0.5em;
  cursor: pointer;
  transition: all 0.5s ease;
  font-family: 'Quicksand', sans-serif;
}
.index-btn:hover {
  color: #00B4D8;
  background-color: white;
  box-shadow: 0 0 .5em .2em #fff;
}

/* Responsive */
@media screen and (max-width: 750px) {
  #bienvenida-texto p {
    font-size: 1rem;
  }
}

/* Footer */
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  gap: 5em;
  align-items: center;
  background-color: #03045E;
  color: white;
}
div.footer-element {
  font-size: 1.5rem;
  user-select: none;
}
.footer-element {
  padding: .7em 0;
  font-weight: bold;
}
.footer-brands {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}
.footer-brands i {
  cursor: pointer;
  transition: all .3s ease;
}
.footer-brands i:hover {
  transform: scale(1.5);
}
