#news {
  padding: 0 1em;
  max-width: 1500px;
  margin: 0 auto;
}
.upper-chunk {
  display: grid;
  margin-top: 2em;
  grid-template-columns: 2fr 1fr;
  font-size: 1.2rem;
  margin-bottom: 1em;
  border-bottom: 1px solid #222;
}
.latest-news, .more-news {
    cursor: pointer;
}
.news-container {
  padding: 1em;
}
.news-container + .news-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.latest-news h2 {
  margin-bottom: 0.5em;
}
.latest-news .news-img {
  width: 100%;
  height: 400px;
}
.news-img {
  margin: 0.5em 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.bottom-chunk {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1em;
  /* margin-bottom: 2em; */
  margin: 0 1em 2em 1em;
}
.bottom-chunk .more-news {
  min-height: 320px;
}
.more-news:not(.side-news) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #222;
}
.more-news h3 {
  text-align: center;
}
@media screen and (max-width: 750px) {
  .upper-chunk {
    grid-template-columns: 1fr;
    font-size: 1rem;
  }
  .latest-news .news-img {
    height: 300px;
  }
  .bottom-chunk {
    grid-template-columns: repeat(2, 1fr);
  }
  .bottom-chunk .news-img {
    height: 100px;
  }
  .bottom-chunk .more-news {
    min-height: 220px;
    font-size: .8rem;
  }
}
