* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Quicksand', sans-serif;
  background-color: #CAF0F8;
}

/* Estilos globales */
a{
  text-decoration: none;
  color: white;
  transition: all .4s ease;
}
a:hover:not(#logo) {
  background-color: white;
  color: #00B4D8;
}
img {
  width: 100%;
}
li { 
  list-style: none;
}
h1{
  margin-left: 1em;
  user-select: none;
  font-family: 'Indie Flower', cursive;
}

/* Navbar */
nav {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  background-color: #03045E;
  color: white;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links-750px {
  background-color: royalblue;
  display: none;
  align-items: center;
  justify-content: space-around;
  padding: 0 5em;
  font-size: .9rem;
  height: 0;
  overflow: hidden;
  transition: all 1s ease-in-out;
}
.nav-item a{
  display: inline-block;
  padding: 10px 15px;
}

.times-btn, .ham-btn{
  display: none;
}

.show-nav{
  height: auto;
}

.form{
  font-weight: bold;
}

/* Responsive */
@media screen and (max-width: 750px) {
  nav {
    justify-content: space-around;
  }
  .nav-links{
    display: none;
  }
  .nav-links-750px {
    display: flex;
  }
  .ham-btn {
    display: inline;
  }
}



/* Footer */
footer {
  width: 100%;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  gap: 5em;
  align-items: center;
  background-color: #03045E;
  color: white;
}
div.footer-element {
  font-size: 1.5rem;
  user-select: none;
}
.footer-element {
  padding: .7em 0;
  font-weight: bold;
}
.footer-brands {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}
.footer-brands i {
  cursor: pointer;
  transition: all .3s ease;
}
.footer-brands i:hover {
  transform: scale(1.5);
}

