@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Roboto, sans-serif;
}

/* Estilos globales */
a{
  text-decoration: none;
  color: white;
  transition: all .4s ease;
}
a:hover:not(#logo) {
  background-color: white;
  color: royalblue;
}
img {
  width: 100%;
}
li { 
  list-style: none;
}
h1{
  margin-left: 1em;
  user-select: none;
}

/* Navbar */
nav {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  background-color: royalblue;
  color: white;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links-750px {
  background-color: royalblue;
  display: none;
  align-items: center;
  justify-content: space-around;
  padding: 0 5em;
  font-size: .9rem;
  height: 0;
  overflow: hidden;
  transition: all 1s ease-in-out;
}
.nav-item a{
  display: inline-block;
  padding: 10px 15px;
}

.times-btn, .ham-btn{
  display: none;
}

.show-nav{
  height: auto;
}
/* Responsive */
@media screen and (max-width: 750px) {
  nav {
    justify-content: space-around;
  }
  .nav-links{
    display: none;
  }
  .nav-links-750px {
    display: flex;
  }
  .ham-btn {
    display: inline;
  }
}

/* index.html */
article {
  display: flex;
}
article p {
  width: 50%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  margin: 1em;
}
.video {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: royalblue;
  color: white;
}
.footer-element{
  justify-content: space-around;
  align-items: center;
  padding: 1em 0;
}

